/** Date Range Styling */
.algolia-analytics-form {
    margin-top: .7rem;
    float: right;
}

.algolia-analytics-form .select {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-right: 1.5rem;
}

.algolia-analytics-form .divide {
    padding: 7px 7px;
    vertical-align: top;
    line-height: 3rem;
}

.algolia-analytics-form .inline-field {
    display: inline-block;
    vertical-align: top;
}

.algolia-analytics-form button {
    margin-left: 7px;
    display: inline-block;
    vertical-align: top;
}

.algolia-analytics-form .input-text._has-datepicker {
    width: 18rem;
}

/** Analytics Overview */
.algoliasearch-notices {
    margin-bottom: 2rem;
}

.algoliasearch-analytics-overview .row {
    margin-bottom: 3rem;
}

.algoliasearch-analytics-overview .top-thirds {
    padding-top: 2.5rem;
}

.algoliasearch-analytics-overview .top-thirds h4 {
    font-size: 1.5rem;
    padding-left: 35px;
}

.algoliasearch-analytics-overview .row.halves,
.algoliasearch-analytics-overview .row.thirds {
    display: flex;
    justify-content: space-between;
}

.algoliasearch-analytics-overview .row.halves .one-half {
    width: 49%;
}

.algoliasearch-analytics-overview .no-result-searches {
    margin-left: 2%;
}

.algoliasearch-analytics-overview .row.thirds .one-third {
    width: 33%;
    text-align: center;
}

.algoliasearch-analytics-overview .section {
    border: 1px solid #e3e3e3;
    padding: 2rem;
}

.algoliasearch-analytics-overview .analytics-footer {
    margin-top: 1.5rem;
    text-align: left;
}

.algoliasearch-analytics-overview .stat {
    font-size: 2em;
}

.algoliasearch-analytics-overview .sub {
    margin-top: 1rem;
}


.algoliasearch-analytics-overview .analytics-content {
    border-bottom: 1px solid #e5e5e5;
}

.algoliasearch-analytics-overview .data-table td:last-child,
.algoliasearch-analytics-overview .data-table th:last-child {
    text-align: right;
}

.algoliasearch-analytics-overview .data-table .a-center {
    text-align: center;
}

.algoliasearch-analytics-overview .no-data {
    padding: 1rem 0;
    margin: 0;
    text-align: left;
}

.analytics-searches .title {
    text-align: left;
}
.daily-search-section .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.daily-search-section .total-search {
    font-weight: 400;
}
.daily-search-section .total-search .count {
    display: inline-block;
    padding-left: 10px;
    font-size: 2.2em;
}

#algolia-analyatics-diagram {
    width: 100%;
    min-height: 360px;
}

.analytics-not-available {
    box-sizing: border-box;
    width: 75%;
    border: 1px solid #adadad;
    margin: 5rem auto;
    padding: 2.5rem 2rem;
}
.analytics-not-available p {
    margin-bottom: 2rem;
}

.analytics-not-available .button-wrapper {
    text-align: right;
}

.analytics-not-available .button {
    padding: 10px 15px;
    color: #333;
    font-weight: 500;
    border: 1px solid #adadad;
}
.analytics-not-available .button:hover {
    text-decoration: none;
    border-color: #25333A;
}

