.algolia td {
	padding-top: 1rem !important;
}

.algolia-config-warning {
	font-size: 30px;
	color: #D83900;
	position: relative;
	top: 6px;
}

.algolia_block {
	font-size: 14px;
	border: 1px solid #e2f0fa;
	border-radius: 5px;
	padding: 15px 20px 15px 93px;
	line-height: 21px;
	margin-bottom: 10px;
}

.algolia_block.blue {
	background-color: #f5fafd;
}

.algolia_block a {
	font-size: 14px !important;
}

.algolia_block .heading {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.algolia_block .heading a {
	font-size: 16px !important;
}

.algolia_block.icon-sadface {
	font-size: 16px;
	line-height: 23px;
	margin-top: 18px;
}

.algolia_block.icon-sadface a {
	font-size: 16px !important;
}

.icon-documentation {
	background-image: url("../images/icon-documentation.svg");
	background-repeat: no-repeat;
	background-position: 25px 20px;
}

.icon-sadface {
	background-image: url("../images/icon-sadface.svg");
	background-repeat: no-repeat;
	background-position: 28px 50%;
}

.icon-warning {
	background-image: url("../images/icon-warning.svg");
	background-repeat: no-repeat;
	background-position: 28px 20px;
}

.icon-bulb {
	background-image: url("../images/icon-bulb.svg");
	background-repeat: no-repeat;
	background-position: 33px 20px;
}

.icon-stars {
	background-image: url("../images/icon-stars.svg");
	background-repeat: no-repeat;
	background-position: 28px 50%;
}

/* Admin videos */
.algolia-admin-content-wrapper {
	background-color : #F5FAFD;
	border : 1px solid #E2F0FA;
	height : 70px;
	position : relative;
}

.algolia-admin-content-links {
	width : 49%;
	height: 70px;
	display: table;
}

.algolia-admin-content-links p {
	vertical-align: middle;
	display: table-cell;
}

.algolia-admin-content-links span{
	margin : 0 20px;
	line-height: 1.8;
}

.algolia-admin-content-links span img{
	margin-right : 10px;
    vertical-align: text-bottom;
}

.algolia-admin-content-videos {
	width : 49%;
	display: inline-block;
	text-align : right;
	position : absolute;
	top : 10px;
	right : 0;
}

.algolia-admin-content-videos img{
	height : 50px;
	vertical-align: middle;
	border : 1px solid #CCCCCC
}

.algolia-admin-content-videos span{
	margin-right : 10px;
}

.algolia-admin-content-videos a{
	margin : 0 10px;
}

/** Merchandising page **/
#algolia_merchandising_autocomplete {
	width: 630px;
	height: 56px;
	border-radius: 3px;
	background: #f6f6f6 url('../images/icon-magnifier-glass.svg') no-repeat 24px;
	padding-left: 64px;
	border: solid 1px rgba(204, 204, 204, 0.5);
}

#algolia_merchandising_hits p {
	line-height: 1.71;
	color: #333333;
	font-size: 14px;
}

#algolia_merchandising_hits p.info {
	background: url('../images/icon-info.svg') no-repeat;
	padding-left: 40px;
	margin-top: 20px;
}

.algolia_merchandising_items_table td {
	padding-top: 14px;
}

.algolia_merchandising_items_table em {
	font-style: normal;
	font-weight: bold;
}

.algolia_merchandising_items_table .image_cell {
	width: 73px;
	height: 73px;
	text-align: center;
	vertical-align: middle;
	padding: 8px 8px 5px 8px;
}

.algolia_merchandising_items_table .actions {
	text-align: center;
}

.algolia_merchandising_items_table .actions a {
	display: inline-block;
	height: 43px;
	line-height: 43px;
	background-color: rgba(210, 210, 210, 0.24);
	border: solid 1px #d2d2d2;
	color: #767676;
	font-size: 11px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.algolia_merchandising_items_table .actions a:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,0.08) !important;
}

.algolia_merchandising_items_table .actions a.pinIt, .algolia_merchandising_items_table .actions a.unpinIt {
	width: 81px;
}

.algolia_merchandising_items_table tr.pinned .pinIt {
	display: none;
}

.algolia_merchandising_items_table .actions .unpinIt {
	display: none;
}

.algolia_merchandising_items_table tr.pinned .unpinIt {
	display: inline-block;
}

.algolia_merchandising_items_table tr:first-child a.up, .algolia_merchandising_items_table tr:last-child a.down {
	opacity: 0.5;
	cursor: initial;
}

.algolia_merchandising_items_table td.actions a.arrow {
	width: 43px;
}

.algolia_merchandising_items_table td.actions a.arrow.up {
	border-radius: 3px 0 0 3px;
	border-right: none;
	margin-right: -4px;
}

.algolia_merchandising_items_table td.actions a.arrow.down {
	border-radius: 0 3px 3px 0;
	border-left: none;
	margin-left: -4px;
}

.algolia_merchandising_items_table {
	counter-reset: rowNumber;
}

.algolia_merchandising_items_table tr > td:first-child {
	counter-increment: rowNumber;
}

.algolia_merchandising_items_table tr td:first-child::before {
	content: counter(rowNumber);
	min-width: 1em;
	font-size: 16px;
	color: #333333;
	opacity: 0.5;
	font-weight: 600;
}

.algolia_merchandising_items_table .position_cell {
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.algolia_merchandising_items_table tr.pinned .padlock {
	display: inline-block;
	background: url('../images/icon-padlock.svg');
	width: 12px;
	height: 15px;
	position: absolute;
	left: 10px;
	top: 29px;
}

.algolia_merchandising_items_table .padlock {
	display: none;
}

.algolia_merchandising_items_table .draggable-handle {
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: move;
	font-size: 0;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	margin-top: -3px;
}

.algolia_merchandising_items_table .draggable-handle:before {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.8rem;
	line-height: inherit;
	color: #9e9e9e;
	content: '\e617';
	font-family: 'Admin Icons';
	vertical-align: middle;
	display: inline-block;
	font-weight: normal;
	overflow: hidden;
	speak: none;
	text-align: center;
}

/* AUTOCOMPLETE HIT */
.aa-dropdown-menu {
	position: absolute;
	margin-top: 5px;
	right: 0;
	width: 888px !important;
	z-index: 10000 !important;
	border-radius: 3px;
	background: white;
	box-shadow: 0 12px 23px 0 rgba(63, 63, 68, 0.1), 0 0 0 1px rgba(63, 63, 68, 0.05);
}

.aa-dropdown-menu .header {
	height: 34px;
	line-height: 34px;
	background-color: rgba(91, 83, 76, 0.12);
	padding-left: 16px;
	color: #5b534c;
}

@media (min-width: 992px) {
	.aa-dropdown-menu {
		width: 71.1%;
		min-width: 550px;
	}
}

.aa-dropdown-menu .aa-dataset-products .aa-suggestion {
	display: inline-block;
	width: 100%;
}

@media (min-width: 768px) {
	.aa-dropdown-menu .aa-dataset-products .aa-suggestion {
		display: inline-block;
	}
}

.aa-dataset-products .aa-suggestions:after {
	content:'';
	display:block;
	clear: both;
}

.aa-dropdown-menu .algoliasearch-autocomplete-hit {
	display: block;
	position: relative;
	padding: 10px 24px;
	color: #303030;
	text-align: left;
	text-decoration: none;
	font-size: 14px;
}

.aa-dropdown-menu .aa-cursor .algoliasearch-autocomplete-hit {
	cursor: pointer;
	background-color: rgba(0,0,0,0.04);
}

.aa-dropdown-menu .aa-cursor .algoliasearch-autocomplete-hit .pinIt {
	display: inline-block;
}

.aa-dropdown-menu .algoliasearch-autocomplete-hit em {
	font-weight: bold;
	font-style: normal;
}

.aa-dropdown-menu .algoliasearch-autocomplete-hit .thumb {
	float: left;
	width: 56px;
}

.aa-dropdown-menu .algoliasearch-autocomplete-hit .thumb img {
	width: 56px;
}

.aa-dropdown-menu .algoliasearch-autocomplete-hit .info {
	margin-left: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
	height: 56px;
	line-height: 28px;
	color: #04143a;
}

.aa-dropdown-menu .algoliasearch-autocomplete-hit .info .price {
	color: #212b36;
	opacity: 0.5;
}

.aa-dropdown-menu .algoliasearch-autocomplete-hit .pinIt {
	float: right;
	display: none;
	width: 140px;
	height: 36px;
	line-height: 36px;
	border-radius: 2px;
	background-color: rgba(210, 210, 210, 0.24);
	border: solid 1px #d2d2d2;
	color: #333333;
	opacity: 0.56;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	margin: 11px 0;
}

.aa-dropdown-menu .algoliasearch-autocomplete-hit .pinIt:hover {
	text-decoration: none;
}

.aa-dropdown-menu .aa-suggestion hr {
	border: none;
	border-top: 1px solid rgba(204, 204, 204, 0.5);
	width: 838px;
}

.aa-dropdown-menu .aa-suggestion:last-child hr {
	display: none;
}

.algolia-clearfix {
	clear: both;
}

/* Warning blocks on configuration */
.algolia_dashboard_warning {
	background-image: url("../images/icon-magento-settings.svg");
	background-repeat: no-repeat;
	background-position: 25px 20px;
	background-color : #FDFAF5;
	border : 1px solid #F8E5C4;
	padding : 20px 20px 10px 90px;
	margin-bottom : 20px;
}

.algolia_dashboard_warning_page {
	margin-bottom : 0;
}

.algolia-notice {
	margin-bottom: 2rem;
}

.algolia-admin-content {
	margin-bottom: 2rem;
}

.algolia-setup-fieldset .admin__fieldset-wrapper-title { 
	padding-top: 0;
	margin-bottom: 0;
}

.algolia-setup-fieldset .admin__field {
	margin-bottom: 0;
	margin-top: 0;
}

.algolia-setup-fieldset .admin__field-label {
	width: calc(100% * 0.17 - 30px) !important;
}

.algolia-setup-fieldset .admin__field-control {
	width: calc(100% * 0.83 - 30px) !important;
}

.algolia-setup-fieldset .admin__field-pre {
    overflow: scroll;
    border: solid 1px grey;
    color: #FFF;
    background-color: #111;
    width: 850px;
}

/* Global Config*/
form[action*="algoliasearch"] .accordion .config .label,
form[action*="algoliasearch"] .accordion .config .value {
	width: auto;
}

#algoliasearch_personalization_personalization_group .entry-edit-head {
	background-color: #f8f8f8;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
}

#algoliasearch_personalization_personalization_group .section-config{
	border: 0;
	margin-left : 0;
}

#algoliasearch_personalization_personalization_group .section-config .entry-edit-head > a {
	padding-left: 3.8rem;
}

#algoliasearch_personalization_personalization_group .section-config .entry-edit-head > a::before {
	left: 10px;
}

/* Personalization Config */
#algoliasearch_personalization_personalization_group td.label{
	width: 40%;
	text-align: left;
	/*padding: 2.2rem 1.5rem 3.2rem 0;*/
}

#algoliasearch_personalization_personalization_group span[data-config-scope]::before{
	right: auto;
}

#algoliasearch_personalization_personalization_group td.value {
	width: 60%;
	padding: 1.7rem 1.5rem 3.2rem 0;
}

#algoliasearch_personalization_personalization_group td.value select{
	width: 30%;
}

#algoliasearch_personalization_personalization_group td.value input{
	width: 50%;
}

#algoliasearch_personalization_personalization_group td.value .note{
	position: absolute;
	left: 0;
}

#algoliasearch_personalization_personalization_group tr[id$="_selector"]  td.label{
	padding: 0 1.5rem 3.2rem 0;
}

#algoliasearch_personalization_personalization_group tr[id$="_selector"]  td.value{
	padding: 0 1.5rem 3.2rem 0;
}

#algoliasearch_personalization_personalization_group tr[id$="_selector"]  td.use-default{
	position: absolute;
	left: 39%;
	bottom: 0;
}

#row_algoliasearch_personalization_personalization_group_personalization_view_events_group tr,
#row_algoliasearch_personalization_personalization_group_personalization_click_events_group tr ,
#row_algoliasearch_personalization_personalization_group_personalization_conversion_events_group tr{
	position: relative;
}


.algolia-perso-footer {
	border-top: 2px solid #e3e3e3;
	margin-top: 20px;
}

.admin__scope-old .algolia-perso-title {
	color: #0a0a0a;
	font-size: 1.7rem;
	font-weight: 600;
	letter-spacing: .025em;
	padding: 1.9rem 2.8rem 1.9rem 0;
}

.perso-illustration {
	text-align: center;
	margin-bottom: 20px;
}

.algoblue{
	background-color: #F5FAFD;
	border: 1px solid #E2F0FA;
}