.algoliasearch-tooltip.admin__field-tooltip {
    margin-top: -1px;
    width: auto;
}

.algoliasearch-tooltip.admin__field-tooltip .admin__field-tooltip-action {
    margin-left: 1rem;
}
.algoliasearch-tooltip.admin__field-tooltip .admin__field-tooltip-action:before {
    color: #3ab2bd;
    opacity: .5;
}

.algoliasearch-tooltip.admin__field-tooltip .admin__field-tooltip-content {
    background: #fff;
    bottom: 4.2rem;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    width: 24rem;
    text-align: left;
}

.algoliasearch-tooltip.admin__field-tooltip .admin__field-tooltip-content::after {
    border-top-color: #fff;
}


.algoliasearch-admin-icon:after {
    -webkit-font-smoothing: antialiased;
    font-family: 'Admin Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
}


.as-icon-new-window:after {
    content: '\e644';
    font-size: 1rem;
    padding-left: .75rem;
}


/** Upsell Message **/
.algolia-suggestions-upsell {
    width: 100%;
    /* background-color: #F5FAFD; */
    border: 1px solid #E2F0FA;
    padding: 20px;
    margin: 5px 0 20px;
    position: relative;
}

.algolia-suggestions-upsell .stars {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}

.algolia-suggestions-upsell p {
    font-size: 1em;
    padding: 0 15px 0 60px;
    line-height: normal;
}