<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <algoliasearch_personalization>
            <personalization_group>
                <personalization_click_events_group>
                    <click_category_selector>.default-category-selector</click_category_selector>
                    <click_product_selector>.default-product-selector</click_product_selector>
                    <click_search_selector>.default-search-selector</click_search_selector>
                </personalization_click_events_group>
                <personalization_conversion_events_group>
                    <conversion_wishist_selector>.default-wishlist-selector</conversion_wishist_selector>
                    <conversion_cart_selector>.default-cart-selector</conversion_cart_selector>
                    <conversion_order_selector>.default-order-selector</conversion_order_selector>
                </personalization_conversion_events_group>
            </personalization_group>
        </algoliasearch_personalization>
    </default>
</config>
