<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="algoliaProducts" type="Algolia\AlgoliaSearch\Model\Indexer\ProductObserver"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="algoliaProductsMassAction" type="Algolia\AlgoliaSearch\Model\Indexer\ProductObserver"/>
    </type>
    <type name="Magento\CatalogInventory\Model\ResourceModel\Stock\Item">
        <plugin name="algoliaProducts" type="Algolia\AlgoliaSearch\Model\Indexer\StockItemObserver"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Category">
        <plugin name="algoliaCategories" type="Algolia\AlgoliaSearch\Model\Indexer\CategoryObserver"/>
    </type>
    <type name="Magento\Catalog\Model\Category\Action">
        <plugin name="algoliaCategoriesMassAction" type="Algolia\AlgoliaSearch\Model\Indexer\CategoryObserver"/>
    </type>

    <type name="Magento\Search\Helper\Data">
        <plugin name="algoliaSearchHelperData" type="Algolia\AlgoliaSearch\Plugin\SearchHelperDataPlugin"/>
    </type>

    <preference for="Magento\Framework\Search\Adapter\Mysql\Adapter" type="Algolia\AlgoliaSearch\Adapter\Algolia" />

    <!-- Dependency Injection for new Model -->
    <preference for="Algolia\AlgoliaSearch\Api\Data\JobInterface" type="Algolia\AlgoliaSearch\Model\Job" />
    <preference for="Algolia\AlgoliaSearch\Api\Data\LandingPageInterface" type="Algolia\AlgoliaSearch\Model\LandingPage" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="algolia_algoliasearch_job_listing_data_source" xsi:type="string">Algolia\AlgoliaSearch\Model\ResourceModel\Job\Grid\Collection</item>
                <item name="algolia_algoliasearch_landingpage_listing_data_source" xsi:type="string">Algolia\AlgoliaSearch\Model\ResourceModel\LandingPage\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Algolia\AlgoliaSearch\Model\ResourceModel\Job\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">algoliasearch_queue</argument>
            <argument name="eventPrefix" xsi:type="string">algoliasearch_queue_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">algoliasearch_queue_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Algolia\AlgoliaSearch\Model\ResourceModel\Job</argument>
        </arguments>
    </type>
    <type name="Algolia\AlgoliaSearch\Model\ResourceModel\LandingPage\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">algoliasearch_landing_page</argument>
            <argument name="eventPrefix" xsi:type="string">algoliasearch_landing_page_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">algoliasearch_landing_page_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Algolia\AlgoliaSearch\Model\ResourceModel\LandingPage</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Algolia\AlgoliaSearch\Api\Data\LandingPageInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">algoliasearch_landing_page</item>
                    <item name="identifierField" xsi:type="string">landing_page_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Algolia\AlgoliaSearch\Api\Data\LandingPageInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="landingPageProvider" xsi:type="object">Algolia\AlgoliaSearch\Model\Sitemap\ItemProvider\LandingPage</item>
            </argument>
        </arguments>
    </type>
</config>
