<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Algolia_AlgoliaSearch" setup_version="1.11.3">
        <sequence>
            <module name="Magento_Theme"/>
            <module name="Magento_Search" />
            <module name="Magento_CatalogSearch" />
            <module name="Magento_LayeredNavigation" />
            <module name="Magento_CatalogInventory" />
            <module name="Magento_LayeredNavigationStaging" />
            <module name="Magento_Swatches" />
        </sequence>
    </module>
</config>