<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Http\Context">
        <plugin name="algolia_rendering_cache_context_plugin"
                type="Algolia\AlgoliaSearch\Plugin\RenderingCacheContextPlugin" />
    </type>
</config>