<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Http\Context">
        <plugin name="algolia_rendering_cache_context_plugin"
                type="Algolia\AlgoliaSearch\Plugin\RenderingCacheContextPlugin" />
    </type>

    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="algoliasearch" xsi:type="array">
                    <item name="class" xsi:type="string">Algolia\AlgoliaSearch\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">70</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Backend rendering / START -->
    <virtualType name="Algolia\AlgoliaSearch\Model\Layer\Filter\Item\AttributeFactory" type="Magento\Catalog\Model\Layer\Filter\ItemFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Algolia\AlgoliaSearch\Model\Layer\Filter\Item\Attribute</argument>
        </arguments>
    </virtualType>

    <type name="Algolia\AlgoliaSearch\Model\Layer\Filter\Attribute">
        <arguments>
            <argument name="filterItemFactory" xsi:type="object">Algolia\AlgoliaSearch\Model\Layer\Filter\Item\AttributeFactory</argument>
        </arguments>
    </type>

    <virtualType name="categoryFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filterableAttributes" xsi:type="object">Algolia\AlgoliaSearch\Model\Layer\Category\FilterableAttributeList</argument>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">Algolia\AlgoliaSearch\Model\Layer\Filter\Attribute</item>
                <item name="price" xsi:type="string">Magento\CatalogSearch\Model\Layer\Filter\Price</item>
                <item name="decimal" xsi:type="string">Magento\CatalogSearch\Model\Layer\Filter\Decimal</item>
                <item name="category" xsi:type="string">Magento\CatalogSearch\Model\Layer\Filter\Category</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Algolia\AlgoliaSearch\Block\Navigation\Category" type="Algolia\AlgoliaSearch\Block\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">categoryFilterList</argument>
        </arguments>
    </virtualType>

    <preference for="Magento\LayeredNavigation\Block\Navigation\Category" type="Algolia\AlgoliaSearch\Block\Navigation\Category" />

    <type name="Magento\LayeredNavigation\Block\Navigation\FilterRenderer">
        <plugin name="algolia_layered_renderer" type="Algolia\AlgoliaSearch\Plugin\BackendFilterRenderer" sortOrder="1" />
    </type>

    <!-- Backend rendering / END -->

</config>
