<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="algolia_injection" instance="Algolia\AlgoliaSearch\Model\Observer" />
    </event>
    <event name="algolia_get_attributes_to_filter">
        <observer name="algoliasearch_apply_product_permissions" instance="Algolia\AlgoliaSearch\Model\Observer\CatalogPermissions\ApplyProductPermissionsFilter" />
    </event>

    <!-- Click and Conversion Analytics -->
    <event name="catalog_controller_product_init_before">
        <observer name="algoliasearch_set_parameters_to_session" instance="Algolia\AlgoliaSearch\Model\Observer\ClickAnalytics\CatalogControllerProductInitBefore" />
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="algoliasearch_add_request_to_quote_item" instance="Algolia\AlgoliaSearch\Model\Observer\ClickAnalytics\CheckoutCartProductAddAfter" />
    </event>
</config>