<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_algoliasearch_instant">
        <observer name="algoliasearch_instant_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_credentials">
        <observer name="algoliasearch_credentials_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_autocomplete">
        <observer name="algoliasearch_autocomplete_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_categories">
        <observer name="algoliasearch_categories_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_images">
        <observer name="algoliasearch_images_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_queue">
        <observer name="algoliasearch_queue_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_advanced">
        <observer name="algoliasearch_advanced_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_products">
        <observer name="algoliasearch_products_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_synonyms">
        <observer name="algoliasearch_synonyms_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="admin_system_config_changed_section_algoliasearch_extra_settings">
        <observer name="algoliasearch_extra_settings_saved" instance="Algolia\AlgoliaSearch\Model\Observer\SaveSettings" />
    </event>
    <event name="controller_action_predispatch_indexer_indexer_list">
        <observer name="show_warning_mismatch_indexer_type_indexer_list" instance="Algolia\AlgoliaSearch\Model\Observer\IndexerMismatchWarning" />
    </event>
    <event name="controller_action_predispatch_adminhtml_dashboard_index">
        <observer name="show_warning_mismatch_indexer_type_dashboard" instance="Algolia\AlgoliaSearch\Model\Observer\IndexerMismatchWarning" />
    </event>

    <event name="catalog_category_save_after">
        <observer name="algoliasearch_create_merchandising_query_rule" instance="Algolia\AlgoliaSearch\Model\Observer\Merchandising"/>
    </event>

    <event name="algolia_product_collection_add_additional_data">
        <observer name="algoliasearch_product_permissions" instance="Algolia\AlgoliaSearch\Model\Observer\CatalogPermissions\ProductCollectionAddPermissions" />
    </event>
    <event name="algolia_after_create_product_object">
        <observer name="algoliasearch_product_permissions" instance="Algolia\AlgoliaSearch\Model\Observer\CatalogPermissions\ProductPermissions" />
    </event>
    <event name="algolia_after_categories_collection_build">
        <observer name="algoliasearch_category_permissions" instance="Algolia\AlgoliaSearch\Model\Observer\CatalogPermissions\CategoryCollectionAddPermissions" />
    </event>
    <event name="algolia_after_create_category_object">
        <observer name="algoliasearch_category_permissions" instance="Algolia\AlgoliaSearch\Model\Observer\CatalogPermissions\CategoryPermissions" />
    </event>
</config>
